@media (max-width: 768px) {
  /* Styles to apply when the screen width is less than or equal to 768px */
  #nav-bar {
    flex-direction: column;
  }
  .nav-link {
    margin-bottom: 10px;
  }
}
.product-features {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin:auto;

  
}
body{
  margin: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    background-color: rgb(216, 136, 39);
}

